* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --text-color: #ffffff;
    --grey-text: #a3a3a3;
    --spotify-green: #1ed760;
}

header {
    display: flex;
    justify-content: flex-end;
}

.header {
    height: 70px;
    width: calc(100% - 250px);
    background-color: #080b12;
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    opacity: 0.75;
}

.header > a {
    text-decoration: none;
    color: var(--text-color);
    text-transform: uppercase;
    border: solid var(--text-color);
    border-radius: 20px;
    padding: 10px 40px;
    font-size: 0.8rem;
    margin-right: 20px;
}

.header > a:hover {
    font-size: 0.9rem;
}

.container {
    display: flex;
    height: calc(100vh - 70px);
}

.logo {
    width: 100%;
    padding-left: 20px;
    margin-bottom: 10px;
}

.nav {
    width: 100%;
    color: var(--grey-text);
    font-size: 0.8rem;
    padding-left: 20px;
}

.cont {
    height: calc(100% / 3);
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

.cont:hover {
    cursor: pointer;
    color: var(--text-color);
}

.menu-container {
    width: 20%;
    height: 100%;
}

.playlist {
    width: 100%;
    padding-left: 20px;
    overflow-y: scroll;
    height: 70%;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #000000; 
}
   
::-webkit-scrollbar-thumb {
    background: var(--spotify-green); 
}

.playlist-text {
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 10px;
}

#create:hover {
    color: var(--spotify-green)
}

ul li {
    list-style: none;
    padding-bottom: 10px;
    padding-top: 10px;
}

ul li a {
    text-decoration: none;
    color: var(--grey-text);
}

ul li a:hover {
    color: var(--spotify-green);
}

.icon {
    background-color: var(--grey-text);
    color: #000000;
    padding: 5px;
    margin-right: 10px;
}

.icon:hover {
    background-color: var(--spotify-green);
}

.aside {
    min-height: 400px;
    width: 250px;
    background-color: #000000;
    color: white;
}

.aside-container {
    height: calc(100% - 80px);
    width: 250px;
}

.aside-container2 {
    height: 80px;
    width: 250px;
}

.app {
    display: flex;
    padding-left: 20px;
    padding-bottom: 20px;
}

#profile {
    width: 20px;
    background-color: var(--grey-text);
    border-radius: 50%;
}

.aside img {
    width: 50%;
}

.main {
    height: 100vh;
    width: calc(100% - 250px);
    background-color: #141922;
    overflow-y: scroll;
    padding-top: 80px;
    padding-bottom: 80px;
}

.main-nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main .main-nav ul li {
    padding: 5px 15px;
}

.main .main-nav ul li a {
    text-transform: uppercase;
    font-weight: bold;
}

.recent, .for-me {
    margin-top: 2rem;
    margin-left: 2rem;
}

.recent h2, .for-me h2 {
    font-weight: bold;
    color: white;
    text-transform: capitalize;
}

.card {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    text-align: center;
}

.img {
    width: calc(100% / 6);
}

.img:hover {
    opacity: 0.8;
}

.cover {
    max-width: 200px;
}

.img > div {
    color: white;
    font-weight: bold;
    padding-top: 10px;
}

.img > h4 {
    color: var(--grey-text);
    font-size: 0.8rem;
    padding-top: 5px;
}

.for-me-music {
    display: inline-block;
    width: calc(100% / 6);
}

.for-me p {
    color: var(--grey-text);
    padding-top: 10px;
    font-weight: bold;
    font-size: 0.8rem;
}

.card2 {
    display: flex;
    margin-top: 20px;
    text-align: center;
}

.round {
    border-radius: 50%;
}

.footer {
    background-color: #282828;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 70px;
    display: flex;
}

.album {
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    color: white;
}

.player-img > img {
    width: 50px;
}

.song {
    padding-left: 10px;
}

.icons {
    padding-left: 100px;
    color: var(--grey-text);
}

.player {
    width: 50%;
    height: 100%;
    text-align: center;
}

.player i {
    color: white;
    padding: 10px;
}

.progress {
    display: flex;
    justify-content: center;
    align-items: center;
}

.border2 {
    width: 50%;
    height: 5px;
    background-color:gray;
    border-radius: 5px;
    display: flex;
}

.lightgrey {
    width: 20%;
    background-color:lightgray;
    border-radius: 5px;
}

.timer {
    padding: 10px;
    color: white;
    font-size: 0.7rem;
}

.audio {
    width: 25%;
    height: 100%;
    color: white;
    display: flex;
    align-items: center;
}

.footer-icons {
    padding-left: 10px;
}

.slider {
    width: 100%; 
    height: 5px; 
    background:var(--grey-text); 
    opacity: 0.7; 
    cursor: pointer;
    transition: opacity .2s;
    border-radius: 5px;
    margin-left: 10px;
}

.slidecontainer {
    width: 50%; 
    display: flex;
    align-items: center;
}
